<div ng-controller="homeCtrl">
	<div class="row">
		<div class="col-xs-12">
			<h1>{{ title }}</h1>	
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis voluptas fugiat cupiditate id accusantium, minus eligendi consectetur consequuntur nulla cumque. Doloribus repudiandae saepe et sequi? Voluptates qui, ullam dolorem nihil!</p>
		</div>
		<div class="col-xs-12 col-md-6">
			<h3 class="text-info">Calculator</h3>
		</div>
		<div class="col-xs-12 col-md-6">
			<h3 class="text-info">Rates</h3>
		</div>
	</div>

</div>
