<div ng-controller="homeCtrl">
	<div class="row">
		<div class="col-xs-12">
			<h1>{{ title }}</h1>	
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis voluptas fugiat cupiditate id accusantium, minus eligendi consectetur consequuntur nulla cumque. Doloribus repudiandae saepe et sequi? Voluptates qui, ullam dolorem nihil!</p>
		</div>
		<div class="col-xs-12 col-md-offset-1 col-md-4">
			<h3 class="text-info text-center">Calculator</h3>
			<br/>
			<form ng-submit="calculate()">
				<div class="form-group">
					<div class="input-group">
					  <div class="input-group-addon text-capitalize">Height</div>
					  <input ng-model="package.height" id="height" class="form-control" type="text" placeholder="centimeters">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
					  <div class="input-group-addon text-capitalize">Width</div>
					  <input ng-model="package.width" id="width" class="form-control" type="text" placeholder="centimeters">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
					  <div class="input-group-addon text-capitalize">Depth</div>
					  <input ng-model="package.depth" id="depth" class="form-control" type="text" placeholder="centimeters">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
					  <div class="input-group-addon text-capitalize">Weight</div>
					  <input ng-model="package.weight" id="weight" class="form-control" type="text" placeholder="kilograms">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
					  <div class="input-group-addon text-capitalize">Value</div>
					  <input ng-model="package.value" id="value" class="form-control" type="text" placeholder="BsF">
					</div>
				</div>
				<div class="form-group text-right">
					<label for="price">Total:</label>
					<span name="price"><span id="price"></span>{{shipping_cost}} Bsf.</span>
				</div>
				<div class="form-group text-right">
					<button type="submit" class="btn btn-info text-capitalize" id="calc">calculate</button>
				</div>
			</form>
		</div>
		<div class="col-xs-12 col-md-offset-2 col-md-4">
			<h3 class="text-info text-center">Rates</h3>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<h3 class="text-center">Value</h3>
					<p class="text-bold text-center">{{rate_value}}</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<h3 class="text-center">Dimension</h3>
					<p class="text-bold text-center">{{rate_dimension}}</p>
				</div>
			</div>
		</div>
	</div>

</div>
