<div class="navbar-full navbar-white" ng-controller="sessionCtrl">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <nav class="navbar" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="" ui-sref="home"><strong>Mail</strong>courier</a>
          </div>

          <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav navbar-right" ng-if="isLogged()">     
              <!-- current_user.is_admin? -->
              <li>
                <a id="rates" role="button" data-toggle="dropdown" data-target="#" href="" class="text-black text-capitalize">Rates</a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="rates">
                  <li class="text-capitalize">
                    <a href="" class="text-capitalize">Rates List</a>
                  </li>
                  <li class="text-capitalize">
                    <a href="" class="text-capitalize">Create Rates</a>
                  </li>
                </ul>
              </li>

              <li>
                <a id="Operator" role="button" data-toggle="dropdown" data-target="#" href="" class="text-black text-capitalize">Operators</a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="Operator">
                  <li class="text-capitalize">
                    <a href="" class="text-capitalize">Operators List</a>
                  </li>
                  <li class="text-capitalize">
                    <a href="" class="text-capitalize">Add operator</a>
                  </li>
                </ul>
              </li>
              <!-- end current_user.is_admin?-->
              <li>
                <a id="Packages" role="button" data-toggle="dropdown" data-target="#" href="" class="text-black text-capitalize">Packages</a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="Packages">
                  <li class="text-capitalize">
                    <a href="" class="text-capitalize">Package List</a>
                  </li>
                  <!-- !current_user.is_member? -->
                    <li class="text-capitalize">
                      <a href="" class="text-capitalize">New Package</a>
                    </li>
                  <!-- end !current_user.is_member? -->
                </ul>
              </li>
              <li>
                <a id="usernameLabel" role="button" data-toggle="dropdown" data-target="#" href="" class="text-black"><span ng-bind="username"></span> <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="usernameLabel">
                  <li class="text-capitalize">
                    <a href="" class="text-capitalize">Profile</a>
                  </li>
                  <li class="text-capitalize">
                    <a href="" class="text-capitalize" ng-click="logout()">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="!isLogged()"> 
              <li class="text-uppercase">
                <a href="" ui-sref="login">login</a>
              </li>
              <li class="text-uppercase">
                <a  href="">sign up</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
