<div ng-controller="userCtrl">
	Username:<input type="text" ng-model="username"><br>
	Password:<input type="password" ng-model="password1"><br>
	Confirm password: <input type="password" ng-model="password2"><br>
	<button ng-click="changePassword()">cambiar password </button>
	<form action="">
		<input type="text" ng-model="username">
		<input type="email" ng-model="email">
		<input type="number" ng-model="agency_id">
		<input type="password" ng-model="password1">
		<input type="password" ng-model="password2">
		<input type="number" ng-model="role">
		<button ng-click="createUser()">Crear Usuario</button>
	</form>
</div>